* {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
}

head {
    display: none;
}

header {
    background: #00e676;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.75);
}

.logo {
    height: 43px;
}

h1 {
    word-break: keep-all;
    display: block;
    color: white;
}

.befo {
    text-align: left;
    margin: 0;
    padding: 30px 0 30px 0;
    background-color: #00e676;
}

.befo::before {
    content: "| ";
    color: white;
}

/* estilos del menu */

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    background: #00e676;
}

.buton{
    width: 105px;
}

.buton::before {
    content: "| ";
    color: white;
}

.buton:hover::before {
    content: "| ";
    color: #00e676;
}

/*agregando color a todo dentro del menu*/

.menu li a:hover {
    background-color: white;
    color: #00e676;
}

/* organizar menu */

.menu li {
    float: left;
}

/*desaparecer submenus, restringir tamaño*/

.menu li ul {
    display: none;
    position: absolute;
    width: fit-content;
}

/*se indica que los subtemas del menu aparescan al pasar el mouse*/

.menu li:hover>ul {
    display: block;
}

/*desde aqui comienza el contenido*/

h2 {
    text-align: left;
    font-weight: bold;
    margin: 0;
    color: gray;
}

.parr {
    background-color: rgba(210, 214, 213, 0.192);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 40px 0 40px 0;
}

body {
    font-family: robotoregular;
    margin: 0px;
}

.context {
    border: 1px;
    border-style: solid;
}

main {
    margin: 0 auto;
    width: 80%;
}

.container{
    margin: 0 auto;
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container-context {
    padding: 25px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hijo {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10;
    text-align: left;
    display: block;
}

.subt {
    border-radius: 10px 10px 10px 0;
    color: #00e676;
    word-break: break-word;
    margin: 20px 0 10px 0;
    display: block;
}

.desc {
    margin-bottom: 15px;
}

code {
    background-color: black;
    color: white;
    word-break: break-word;
    padding: 30px 20px 30px 10px;
}

.code::before {
    content: "$";
    background-color: black;
    color: white;
}

/* desde aqui comienza el footer*/

footer {
    background-color: black;
    width: 100%;
    text-align: right;
    height: 130px;
    color: white;
    padding: 80px 0;
}

.fbits {
    padding: 30px;
    display: block;
}

address {
    font-size: 15px;
}

.fot {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.fot:visited {
    color: white;
}

.fot:hover, a:active, a:focus {
    color: gray;
    text-decoration: none;
}