@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2')
}

.descri {
    padding: 15px;
}   

.parr {
    background-color: rgba(210, 214, 213, 0.897);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    width: 400px;
}

code::before {
    content:"$ ";
    display: inline;
    background-color: black;
    color: white;  
}

a {
    color: white;
    font-weight: bold;
}
      
a:visited {
    color: white;
}

a:hover,
a:active,
a:focus {
    color: gray;
    text-decoration: none;
}

body{
    font-family:robotoregular;
    margin:0;
}
header{
    margin: 20px;
}
main{
    margin: 2%;
}
.context {
    border: 1px;
    border-style: solid;
}
main {
    margin: 0 auto;
    width : 80%;
}
.divmain{
    padding: 60px auto;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top-width: 0px;
    margin-top: 0px;
}
      
footer{
    background-color: black;
    padding:25px;
    text-align: right;
    height: 18px;
    color: white;
}
